<div id="headerwrap">
    <div class="container">
        <div class="form">
            <div class="thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png" /></div>
            <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login()" autocomplete="off" novalidate>
                <input type="text" [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="Username " required/>
                <input type="password" [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="Password" required/>
                <button [disabled]="loading" type="submit">login</button>
                <div *ngIf="loginForm.submitted && !username.valid" class="help-block">Username is required</div>
                <div *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</div>
                <p class="message">Welcome to Starwars!</p>
            </form>
        </div>

    </div>
    <!-- /container -->
</div>